@import url('https://fonts.googleapis.com/css?famly=Open+Sans&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}

